recursive-include csrc *.cu
recursive-include csrc *.h
recursive-include csrc *.cuh
recursive-include csrc *.cpp
recursive-include csrc *.hpp
recursive-include csrc *.py

recursive-include flash_moba *.cu
recursive-include flash_moba *.h
recursive-include flash_moba *.cuh
recursive-include flash_moba *.cpp
recursive-include flash_moba *.hpp
